.ProfilePage {
  .table-header {
    margin-top: 40px;
  }

  .card-img {
    width: 20rem; 
  }

  .table {
    font-size: 20px;
    width: 60%;
    .button-cell {
      display: flex;
      justify-content: center;
      .btn {
        font-size: 20px;
      }
    }
  }
}

