// OrganizationSummaryPage.scss
.organizationSummaryPage {

  .DataTable {
    width: 100%;
    border-collapse: collapse;
    background-color: white; 

    th {
      background-color: #4e5d6c; 
      color: white;
      text-align: left;
      font-weight: normal;
      padding: 12px 15px;
      border-bottom: 2px solid #36454f; 
    }

    td {
      padding: 12px 15px;
      border-bottom: 1px solid #ddd; 
      color: #333; 


      &:last-child {
        font-weight: bold;
      }
    }

    tr {
      &:nth-child(even) {
        background-color: #f2f2f2; 
      }

      &:hover {
        background-color: #eaeaea; 
      }
    }

  .efficiency-score {
    &.very-low { color: #000000; } 
    &.low { color: #d9534f; } 
    &.medium { color: #f0ad4e; }
    &.high { color: #5cb85c; } 
    &.very-high { color: #0275d8; } 
  }
}
}