.LabPage {

  h1 {
    text-align: center;
    font-weight: bold;
  }

  .react-loading {
    display: grid;
    margin: auto;
  }

  #layout {
    display: flex;
    justify-content: center;
    height: 25rem;
  }

  .textbox {
    height: 25rem;
    background-color: #d8d8d9;
    word-wrap: break-word;
    font-size: small;
    overflow: scroll;
  }

  .heading {
    text-align: center;
  }

  .body {
    font-size: 10px;
  }
}