.MetricsPage {
  .filter-row {
    align-items: center;
    border-style: solid;

    .filter-col {
      display: flex;
      padding-top: 15px;
      padding-bottom: 15px;
      flex-direction: row;
      align-items: center;

      .filter-select {
        margin-left: 15px;
        flex: 1;
      }
    }
  }

  .metrics-row {
    .metrics-card {
      border-style: solid;
      margin-bottom: 40px;
    }
  }
}
