.MetricsCard {
  border-style: solid;
  margin-bottom: 40px;

  .metrics-title {
    font-size: 18px;
    justify-content: center;
  }

  .add-metrics-button {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .metrics-data {
    text-align: center;
  }

  .timeseries-row {
    flex-direction: row-reverse;

    .timeseries-label {
      text-align: right;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
