.Header {
  margin-right: 100px;
  .header-content {
    padding-top: 20px;
    .header-title {
      display: flex;
      margin-bottom: 20px;

      h1 {
        font-size: 50px;
        margin-left: 20px;
        margin-top: auto;
        margin-bottoM: auto;
      }
    }

    .login-button {
      float: right;
    }
  }

  hr {
    margin-right: calc(var(--bs-gutter-x,.75rem) * -1);
    margin-top: 0px;
    height: 2px;
  }
}
