.App {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;

  .root-row {
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;

    .react-bootstrap-drawer {
      height: 100%;
      background-color: #171b26;
      color: white;
    }

    .root-right-col {
      margin-top: 50px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

